<!-- BEGIN CSS -->
/**Stylesheet for Basic Portfolio**/

* {
	box-sizing: border-box;
}

/**Font Style for Body Text**/

body {
	color: #77777;
	font-size: 24px
	line-height: 32px;
	font-family: 'Arial', Helvtica Neue, Helvetica, sans-serif;
    background: url(../Images/fresh_snow_@2X.png);
    }

/**Header Dimensions and Style**/

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #fff;
  background: #fff;
  border-bottom: 2px solid #ccc;
}

#logo {
  float: left;
  width: 400px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}


nav {
  float: right;
  margin-top: 25px;
  margin-right: 10%;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}
nav a:first-child {
  border-left: 0 none;
}

/**Body Dimensions and Styles**/

h3 {
	margin: 20px;
}

h5 {
	color: #777777;
	width: 50%;
	line-height: 55px;
	float: left;
}

.box_wrapper {
    padding-top: 130px;
    margin-left: 20px;
}

/**Portfolio Box Style**/

.portfolio_box {
	float: left;
	background: #ffffff;
	width: 100%;
	max-width: 650px;
	border-style: 1px solid;
	border-color: #dddddd;
	position: relative;
	margin-bottom: 30px
}

#portfolio {
	color: #4aaaa5;
	font-size: 28px;
	margin-left: 25px;
	padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
	font-weight: bold;
	text-align: left;
}

#angels_image
{
	height:200px;
	padding: 20px;
	margin-left: 50px;
	margin-bottom: 20px;
	float: left;
	position: relative;
}

#angels {
	background: #4aaaa5;
	color: #ffffff;
	width: 180px;
	text-align: center;
	padding: 10px;
	position: absolute;
	top: 200px;
}

#patrol_image {
	height:200px;
	padding: 20px;
	margin-left: 50px;
	margin-bottom: 20px;
	float: left;
	position: relative;
}

#patrol {  
	background: #4aaaa5;
	color: #ffffff;
	width: 180px;
	text-align: center;
	padding: 10px;
	position: absolute;
	top: 200px;
	
}

#rapport_image
{
	height: 200px;
	padding: 20px;
	margin-left: 50px;
	margin-bottom: 20px;
	float: left;
	position: relative;
}

#rapport {
    background: #4aaaa5;
	color: #ffffff;
	width: 180px;
	text-align: center;
	padding: 10px;
	position: absolute;
	top: 200px;
}

#boards_image {
	height: 200px;
	padding: 20px;
	margin-left: 50px;
	margin-bottom: 20px;
	float: left;
	position: relative;
}

#boards {
	background: #4aaaa5;
	color: #ffffff;
	width: 180px;
	text-align: center;
	padding: 10px;
	position: absolute;
	top: 200px;
}

#reason_image {
	height: 200px;
	padding: 20px;
	margin-left: 50px;
	margin-bottom: 20px;
	float: left;
	position: relative;
}

#reason {
	background: #4aaaa5;
	color: #ffffff;
	width: 180px;
	text-align: center;
	padding: 10px;
	position: absolute;
	top: 200px;
}

/**Connect Box Style**/

.connect_box { 
	float: left;
	width: 100%;
	max-width: 250px;
	background-color: #ffffff;
	margin-bottom: 20px
	border-style: 1px solid;
	border-color: #dddddd;
	margin-left: 25px;
}

#connect {
	margin-top: 20px;
	text-align: center;
	color: #4aaaa5;
	font-weight: bold;
}


.favicons {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

/**Footer Style**/

footer {
	padding: 30px 0;
	clear: both;
	font-size: 12px;
	background: #666666;
	text-align: center;
	font-family: "Georgia", Times, Times New Roman, serif;
	border-top: 8px solid #4aaaa5;
}

#copy {
	color: #ffffff;
}


@media screen and (max-width: 980px) {

 	.container {
 		padding: 0 20px;
 		max-width: 768px;
 	}

 	.box_wrapper {
 		padding-top: 130px;
 		padding-left: 10px;
 	}

 	.portfolio_box {
 		width: 50%;
 	}

 	.connect_box {
 		width: 50%;
 	}

 	#portfolio {
 		width: 100%;
 	}
  
  #angels_image, #patrol_image, #rapport_image, #boards-image,
  #reason_image {
  	width: 100%;
}
    }

 @media screen and (max-width: 768px) {

 	.portfolio_box, .connect_box {
 		width: 100%;
 	}

 	.portfolio_box {
 		margin-top: 20px;
 	}


 	.box_wrapper {
 		overflow: auto;
 	}

   .connect_box {
	margin: 40px;
  }

  #angels_image, #patrol_image, #rapport_image, #boards-image,
  #reason_image {
  	width: 33%; 

 }

 @media screen and (max-width: 640px) {

  #masthead {
  	position: static;
  	margin-bottom: 20px;
  }
 
   .container {
   	  padding: 0
   }

   #logo {
   	  width: 100%;
   }

   nav {
   	  text-align: center;
   	  width: 100%;
   	  margin: 15px 0;
   	  float: left;
   	}

   	nav a {
   		width: 30px;
   		padding-left: 0;
   		margin-left: 0;
   	}

  #angels_image, #patrol_image, #rapport_image, #boards-image,
  #reason_image {
  	width: 100%;
  }

  	.portfolio_box {
  		margin-right: 30px;
  	}

}

<!-- END CSS -->